{% extends "authentication/base.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <h1>Reset Password</h1>
    <form method="post">
        <div>
            <input type="password" placeholder="New password" name="password" class="form-control">
        </div>
        <br>
        <div>
            <input type="password" placeholder="Confirm password" name="confirmation" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}